@import "tailwindcss";

body {
  background-color: white;
  color: black;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0 0 0 transparent;
}

body.dark {
  background-color: #121212;
  color: white;
  box-shadow: 0 0 40px 0 #000a inset;
}